<!DOCTYPE html>
    <html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>NLP</title>
        <meta name="description" content="Envio de formulario">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'forms/css/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>


    </head>
    <body>
        <div class="sendfile">
          <h2 class="active">ENVIAR ARCHIVO</h2>
          <!--<h2 class="nonactive"> asd </h2>-->

          <form action="http://18.231.174.90:6570/documents/form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {% for field in uploadForm %}

                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}

            <button type="submit" class="send">
              Enviar
            </button>
          </form>
        </div>

        <script>
                $('#chooseFile').bind('change', function () {
          var filename = $("#chooseFile").val();
          if (/^\s*$/.test(filename)) {
            $(".file-upload").removeClass('active');
            $("#noFile").text("No file chosen...");
          }
          else {
            $(".file-upload").addClass('active');
            $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
          }
        });

        </script>
    </body>

</html>
